<html class="ME">
<head>
    <%= stylesheet_link_tag 'me' %>
</head>
<h1 class = "Intro"> Welcome! </h1>
<body>
<h1 class="Q"> My name: </h1>
<h2 class="Answer"> Akash Gokul </h1>
<h1 class="Q">  Where Am I From?</h1>
<h2 class="Answer"> New Jersey </h2>
<h1 class="Q"> Year: </h1>
<h2 class="Answer"> Freshman </h2>
<h1 class="Q"> Fun Fact: </h1>
<h2 class = "Answer"> I am a scuba diver. </h2>
<h1 class="Q"> What Am I Excited For </h1>
<h2 class="Answer"> I am excited to build interactive web applications. </h2>
<body>
</html>
