@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
.ME{
  font-family: 'Nanum Pen Script', cursive;
  color:black;
  background-color: #FA8072;
}
.Intro {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
;
}
.Answer{
  font-size:25px;
  color:white;
}
.Q{
  font-family: monospace;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
}
